body {
	/* navbar padding */
  padding-top: 60px;
}
#wrapper {
	/* for sidebar*/
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}
#menu-toggle { 
	/* dont show sidebar toggle if large screen*/
  display: none;
}
@media (max-width:780px) {
	/*allow and setup sidebar toggle*/

	#wrapper {
	  padding-left: 0;
	}

	#sidebar-wrapper {
	  left: 0;
	}

	#wrapper.active {
	  position: fixed;
	  left: 250px;
	}
	#page-content-wrapper {
  		width: 100%;
	}

	#wrapper.active #sidebar-wrapper {
	  left: 250px;
	  width: 250px;
	  transition: all 0.4s ease 0s;
	}

	#menu-toggle {
	  display: inline-block;
	}
}