body {
	/* navbar padding */
  padding-top: 60px;
}
#wrapper {
	/* for sidebar*/
  padding-left: 250px;
  transition: all 0.6s ease 0s;
  overflow-y: auto;
}
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  padding-top: 20px;
  background-color: #ffffff;
  width: 250px;
  position: fixed;
  border: 2px solid #d3d3d3 !important;
  height: 90%;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
}
.panel-add-outer{
	background-color: #ffffff;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-add-heading{
	background-color: #ffffff;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important;
	border: 2px dotted #d3d3d3 !important;
}
.panel-add{
	background-color: #ffffff;
	text-align: center ;
}
#publish{
	padding: 15px;
	padding-top: 30px;
}
#page-content-wrapper {
  width: 100%;
}
#menu-toggle { 
	/* dont show sidebar toggle if large screen*/
  display: none;
}
input.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
textarea.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
@media (max-width:780px) {
	/*allow and setup sidebar toggle*/

	#wrapper {
	  padding-left: 0;
	}

	#sidebar-wrapper {
	  left: 0;
	}

	#wrapper.active {
	  position: fixed;
	  left: 250px;
	  overflow-y: auto;
	}
	#page-content-wrapper {
  		width: 100%;
	}

	#wrapper.active #sidebar-wrapper {
	  left: 250px;
	  width: 250px;
	  transition: all 0.4s ease 0s;
	}

	#menu-toggle {
	  display: inline-block;
	}
}